/*     Projects     */
/********************/
.filter {
	padding-top: 9.5rem;
	padding-bottom: 5.625rem;
	text-align: center;
}

.filter h2 {
	margin-bottom: 2.625rem;
}

.filter .button-group {
	margin-bottom: 1.375rem;
}

.filter .button {
	margin-right: 0.25rem;
	margin-bottom: 0.75rem;
	margin-left: 0.25rem;
	padding: 0.125rem 0.875rem;
	border: none;
	background-color: #ffffff;
	color: #53575a;
	font-weight: 600;
	font-size: 0.875rem;
}

.filter .button:hover,
.filter .button.is-checked {
	background-color: #7dc22b;
	color: #ffffff;
}

.filter .grid {
	margin-right: auto;
	max-width: 351px;
	margin-left: auto;
}

.filter .element-item {
	margin-bottom: 3rem;
}

.filter .element-item a {
	text-decoration: none;
}

.filter .element-item img {
	margin-bottom: 1.125rem;
	border-radius: 8px;
}

.filter .element-item p {
	text-align: left;
}

